/**
 * @file nav
 * @author shenli <meshenli@gmail.com>
 */

.nav-bar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    &.fixed-top {
        position: fixed;
        right: 0;
        left: 0;
    }

    .logo {
        font-weight: bold;
    }
}

.nav-bar-inner {
    position: relative;
    min-height: 50px;
    background-color: rgba(255, 255, 255, .97);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
}

.nav-handler-set {
    float: left;
}

.nav-handler-user {
    float: right;
    .avatar {
        float: left;
        margin: -2px 10px 0 0;
        display: inline-block;
        width: 24px;
        height: 24px;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
    }
}

.nav-handler {
    position: relative;
    float: left;
    height: 50px;
    > a {
        box-sizing: border-box;
        display: inline-block;
        height: 50px;
        padding: 15px 25px;
        color: #383838;
        font-size: 16px;
        text-align: center;
        .transition(background-color 218ms ease, color 218ms ease);
    }
    &.nav-separate {
        border-right: 1px solid rgba(0, 0, 0, .07);
    }
    &.my-set a {
        max-width: 450px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}



